*{
    margin: 0px;
    font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
/*splash*/

.body-splash{
    background: #000;
    color: #fff;
    text-align: center;
}
.body-splash div{
    width: 100%;
    margin-top: 300px;
}
.icon-spoon-knife{
    background: #000;
    color: #ec7307;
    padding: 1em 1em;
    font-size: 16px;
    border-radius: 100%;
    margin-top: 1em;
    -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 2s;
}
@keyframes example2 {
    0%   {background-color: #ec7307; left:0px; top:0px;}
    25%  {background-color:#53c028; left:200px; top:0px;}
    50%  {background-color:rgb(53, 182, 182); left:200px; top:200px;}
    75%  {background-color:rgb(204, 32, 175); left:0px; top:200px;}
    100% {background-color:rgb(134, 29, 103); left:0px; top:0px;}
}
/*Termina splash*/
header{
    background: #100f0f;
    color: #ec7307;
    width: 100%;
    }
.header-title{
    width: 100%;
    padding: .4em 0em;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    }
#map{
    width: 100%;
    height: 300px;;
}
#search-lista{
    width: 100%;    
}
#search-lista-content{
    align-content: center;
    width: 50%;
    margin: 0px 25%;
    padding: 1em 0em;    
}
#search-lista-content div{
    background: #fff;
    padding: .3em 0em;

}
.icon-search{
    background: #777;
    color: #fff;
    padding: .6em 0px;
    float: right;
    width: 19%;    
    text-align: center;
}
#search-lista-content h3{
    text-align: center;
}
#search-lista-content input{
    width: 80%;
    text-align: center;
    padding: .65em 0px;
    border: 1px solid #ccc;
}
.content-search-location{
    display: none;
    float: left;
    visibility: visible;
    opacity: 1;
    position: fixed;
    border-radius: 2px;
    padding: 0em 2em;
    left: 25%;
    margin: -10px 0 0 0;
    background: #fff;
    width: 40%;
    height: auto;
    border-radius: .4em;
    -webkit-box-shadow: 0px 7px 20px 0px #a0a0a0;
    box-shadow: 0px 7px 20px 0px #a0a0a0;
    -webkit-transition: all .80s ease-in-out;
    -o-transition: all .80s ease-in-out;
    transition: all .80s ease-in-out;
  }
  .content-search-location li{
      list-style: none;
      text-align: left;
      padding: .5em .3em;
      font-size: 14px;
      font-weight: normal;
        cursor: pointer;
  }
  .content-search-location li:hover{
    background: #00bcd41c;
  }
  .form_modal{
    margin: 55px 30%;
    border-radius: .4em;
    background: #fff;
  }
.form_modal h4{
    font-size: 16px;
    color: initial;
    margin: .4em 0 .4em 0;
    padding: 1em;
    text-align: center;
}
.form_modal .box-input{
    margin: 0 20px;
    display: block;
    padding: 1em 0em;
}
.box-input table{
    width: 100%;
    border: none;
    font-weight: 100;
    border-left: dotted 1px #777;
    border-right: dotted 1px #777;
}

td{ 
    padding: .3em .0em;
    border: none;
    border-bottom: dotted .5px #777;
    cursor: pointer;
    text-align: center;
}

#div_new_modal{
    display: none;
    float: left;
    visibility: visible;
    position: fixed;
    top: 0%;
    margin: 0px 0 0 0;
    background: #0d0d0d80;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 10px 28px 0px #a0a0a0;
    box-shadow: 0px 10px 28px 0px #a0a0a0;
    -webkit-transition: all .80s ease-in-out;
    -o-transition: all .80s ease-in-out;
    transition: all .80s ease-in-out;
  }
  .headerPopup {
    width: 100%;
    background: #fff;
}
.headerPopup span {
    float: right;
    cursor: pointer;
    padding: .2em;
    color: #777;
}
.content-img{
    width: 100%;
}
.content-img img{
    width: 40%;
    height: 150px;
    margin: 0% 30%;
    text-align: center;
    box-shadow: 0px 2px 20px 0px #999393;
}
.messageApp{
    width: 100%;
    text-align: center;
    color: #ec7307;
    font-weight: bolder;
    display: block;
    padding: 10px 0px;
}
#pedirAhora{
    padding: .8em 1em;
    color: #fff;
    background: #ec7307;
    align-content: center;
    /* float: right; */
    border: none;
    border-radius: .8em;
    width: 60%;
    margin: 10px 20%;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;    
    outline: none
}
#pedirAhora:hover{
    cursor: pointer;
    border: 1px solid #ec7307;
    color: #ec7307;
    background: #fff;
    -webkit-transition: all .80s ease-in-out;
    -o-transition: all .80s ease-in-out;
    transition: all .80s ease-in-out;
}
.imageOfPlaces{
    width: 100%;
    height: auto;
}
.content-image-places{
    margin: 0px 15px;
    border: 1px solid #ccc;
}
.icon-star-full, .icon-star-empty{
    color: #ec7307;
}
.imageOfPlaces{
    width: 100%;
    height: auto;
}
#content-image-places{
    width: 90%;
    margin: 0px 5%;
    height: auto;
}
.content-image-places-location{    
    width: 9%;
    height: 100px;    
    float:left;    
    margin: .1em;
}
.content-image-places-location img{
    width: 100%;
    height: 100%;
}


@media (max-width:1200px){
    .form_modal{
        margin: 20% 30%;
    }
    .content-image-places-location {
        width: 9%;
    }

}
@media (max-width:950px){
    .form_modal{
        margin: 55px 20%;
    }
    .content-image-places-location {
        width: 15%;
       left: 25%;
    }
}
  @media (max-width:750px){

     .content-search-location{
         left: 5%;
         width: 80%;        
     }
     .form_modal{
        margin: 55px 10%;
    }
    .content-image-places-location {
        width: 15%;
        
    }
       
 }
 @media (max-width:490px){
  .content-search-location{
    left: 6%;
    width: 70%;
    
}   
.form_modal{
    margin: 20% 2%;
}
#search-lista-content{
        width: 80%;
        margin: 0px 10%;
        padding: .3em 0em;
}
.content-image-places-location {
    width: 24%;
    left: 7%;
}
 }

 